<app-aside ></app-aside>
<app-navbar ></app-navbar>


<div class="block-header" style="text-align: center; font-size: 12px">

  <strong style="color: darkslategrey">

      USUARIOS


  </strong>
</div>

<div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">



  <a href="/cadastrarusuarios" class="btn btn-default waves-effect info-box-4 hover-expand-effect " style="border-radius: 20px; max-width:500px;padding-bottom:100px; text-align:center">

      <div class="container" style="text-align:center">
          <img src="../../../assets/images/Icones-Sistemas/funcionario.png" style="max-width:60px; max-height:60px" /><br />

          <div class="text" style="padding-top:5px">

              <div class="text">
                  <strong style="font-size:11px">CADASTRAR USUARIOS</strong>
                      <strong></strong>
              </div>
          </div>
      </div>

  </a>

</div>

<div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">



    <a href="/" class="btn btn-default waves-effect info-box-4 hover-expand-effect " style="border-radius: 20px; max-width:500px;padding-bottom:100px; text-align:center">

        <div class="container" style="text-align:center">

            <img src="../../../assets/images/Icones_Botoes/icone-voltar-png.png" style="max-width: 60px; max-height: 60px" /><br />
            <div class="text" style="padding-top:1px">

                <strong style="font-size:11px">VOLTAR</strong>
            </div>
        </div>

    </a>

</div>
